# Serverless ALL
plugins:
  - serverless-api-gateway-caching
  - serverless-plugin-typescript
  - serverless-offline
  - serverless-openapi-documentation

service: boilerplatelambda

provider:
  name: aws
  region: us-east-1
  runtime: nodejs8.10
  stage: samuel

# Open API documentation: serverless openapi generate
custom:
  apiGatewayCaching:
    enabled: true
    ttlInSeconds: 60
  documentation:
    version: 1.0.0
    title: My Rest Car API
    description: Manage my cars
    models:
      # GET
      - name: GetCarResponse
        description: Get Car Response
        contentType: application/json
        schema:
          $schema: http://json-schema.org/draft-04/schema#
          title : Cars
          type : array
          items:
            type: object
            properties:
              name:
                type: string
      # ADD
      - name: AddCarResponse
        description: Add Car Response
        contentType: application/json
        schema:
          $schema: http://json-schema.org/draft-04/schema#
          title : Id
          type : integer
      - name: AddCarRequest
        description: Add Car Request
        contentType: application/json
        schema:
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            Car:
              type: object
              properties:
                name:
                  type: string
      # UPDATE
      - name: UpdateCarRequest
        description: Update a Car Request
        contentType: application/json
        schema:
          $schema: http://json-schema.org/draft-04/schema#
          properties:
            Car:
              type: object
              properties:
                name:
                  type: string
      # DELETE
      - name: RemoveCarResponse
        description: Remove Car Response
        contentType: application/json
        schema:
          $schema: http://json-schema.org/draft-04/schema#
functions:
  all:
    handler: src/lambda/car.all
    events:
      - http:
          path: /car/all
          method: GET
          cors: true
          caching:
            enabled: true
            cacheKeyParameters:
              - name: request.querystring.cachetick
          documentation:
            summary: All
            description: Get all cars
            methodResponses:
              - statusCode: 200
                responseModels:
                  application/json: GetCarResponse
  add:
    handler: src/lambda/car.add
    events:
      - http:
          path: /car/
          method: POST
          cors: true
          documentation:
            summary: Add
            description: Add a car
            methodResponses:
              - statusCode: 201
                responseModels:
                  application/json: AddCarResponse
            requestModels:
              application/json: AddCarRequest
  update:
    handler: src/lambda/car.update
    events:
      - http:
          path: /car/{id}
          method: PUT
          cors: true
          documentation:
            summary: Update
            description: Update a car
            methodResponses:
              - statusCode: 204
                responseModels:
                  application/json: UpdateCarResponse
            requestModels:
              application/json: UpdateCarResponse
            pathParams:
              - name: id
                description: The object id to update
                schema:
                  type: string
  remove:
    handler: src/lambda/car.remove
    events:
      - http:
          path: /car/{id}
          method: DELETE
          cors: true
          documentation:
            summary: Remove
            description: Remove a car
            methodResponses:
              - statusCode: 204
                responseModels:
                  application/json: RemoveCarResponse
            requestModels:
              application/json: RemoveCarResponse
            pathParams:
              - name: id
                description: The object id to remove
                schema:
                  type: string