# Serverless ALL
plugins:
  - serverless-plugin-typescript
  - serverless-offline

service: boilerplatelambda

provider:
  name: aws
  region: us-east-1
  runtime: nodejs8.10
  stage: samuel

functions:
  all:
    handler: src/lambda/car.all
    events:
      - http:
          path: /car/all
          method: GET
  add:
    handler: src/lambda/car.add
    events:
      - http:
          path: /car/
          method: POST
  update:
    handler: src/lambda/car.update
    events:
      - http:
          path: /car/{id}
          method: PUT
  remove:
    handler: src/lambda/car.remove
    events:
      - http:
          path: /car/{id}
          method: DELETE